* {
    margin: 0px;
    box-sizing: border-box;
}

main {
    width: 600px;
    margin: 0 auto;
}

p {
    font-size: 20px;
    text-align: center;
}

header,
nav,
footer {
    width: 600px;
    height: 50px;
    background-color: red;
}

nav {
    background-color: brown;
}

section {
    width: 400px;
    height: 400px;
    background-color: green;
    display: inline-block;
}

aside {
    width: 200px;
    height: 800px;
    background-color: orange;
    display: inline-block;
    vertical-align: top;
    margin: -400px 0 0 -4px;
}

div {
    width: 350px;
    height: 50px;
    background-color: aqua;
    margin: 40px auto;
}

footer {
    background-color: black;
}

footer p {
    color: white;
}